In [103]:
import numpy as np
import pandas as pd
import os
from collections import defaultdict 
from contextlib import contextmanager
from sklearn import metrics
from sklearn.cluster import KMeans
from sklearn.datasets import load_digits
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.feature_extraction import DictVectorizer

In [4]:
PROJECT_HOME = os.path.join(os.getcwd(), '..')

## Load Tables into Pandas DataFrames

In [9]:
ct_df = pd.read_csv(os.path.join(PROJECT_HOME, 'data/cliente_tabla.csv'))
pt_df = pd.read_csv(os.path.join(PROJECT_HOME, 'data/producto_tabla.csv'))
ts_df = pd.read_csv(os.path.join(PROJECT_HOME, 'data/town_state.csv'))
train_df = pd.read_csv(os.path.join(PROJECT_HOME, 'data/train.csv'))
test_df = pd.read_csv(os.path.join(PROJECT_HOME, 'data/test.csv'))
ss_df = pd.read_csv(os.path.join(PROJECT_HOME, 'data/sample_submission.csv'))

## Explore Tables

- cliente_tabla: map between client id and client name, shape=(935362, 2)
- producto_tabla: map between product id and product name, shape=(2592, 2)
- town_state: map between agency id and name of town and state, shape=(790, 3)

In [62]:
test_df[['Cliente_ID', 'Producto_ID']].drop_duplicates().count()

Cliente_ID     6225450
Producto_ID    6225450
dtype: int64

In [68]:
train_df.columns

Index([u'Semana', u'Agencia_ID', u'Canal_ID', u'Ruta_SAK', u'Cliente_ID',
       u'Producto_ID', u'Venta_uni_hoy', u'Venta_hoy', u'Dev_uni_proxima',
       u'Dev_proxima', u'Demanda_uni_equil'],
      dtype='object')

In [77]:
train_df.Demanda_uni_equil.mode()

0    2
dtype: int64

In [104]:
train_df.groupby('Demanda_uni_equil').count()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima
Demanda_uni_equil,,,,,,,,,,
0,1336821,1336821,1336821,1336821,1336821,1336821,1336821,1336821,1336821,1336821
1,13249749,13249749,13249749,13249749,13249749,13249749,13249749,13249749,13249749,13249749
2,14997665,14997665,14997665,14997665,14997665,14997665,14997665,14997665,14997665,14997665
3,9150147,9150147,9150147,9150147,9150147,9150147,9150147,9150147,9150147,9150147
4,7176357,7176357,7176357,7176357,7176357,7176357,7176357,7176357,7176357,7176357
5,5634148,5634148,5634148,5634148,5634148,5634148,5634148,5634148,5634148,5634148
6,4220142,4220142,4220142,4220142,4220142,4220142,4220142,4220142,4220142,4220142
7,1756403,1756403,1756403,1756403,1756403,1756403,1756403,1756403,1756403,1756403
8,2401131,2401131,2401131,2401131,2401131,2401131,2401131,2401131,2401131,2401131
9,1192219,1192219,1192219,1192219,1192219,1192219,1192219,1192219,1192219,1192219
10,2886205,2886205,2886205,2886205,2886205,2886205,2886205,2886205,2886205,2886205
11,735945,735945,735945,735945,735945,735945,735945,735945,735945,735945
12,1108888,1108888,1108888,1108888,1108888,1108888,1108888,1108888,1108888,1108888
13,505595,505595,505595,505595,505595,505595,505595,505595,505595,505595
14,545366,545366,545366,545366,545366,545366,545366,545366,545366,545366
15,985211,985211,985211,985211,985211,985211,985211,985211,985211,985211
16,467500,467500,467500,467500,467500,467500,467500,467500,467500,467500
17,263492,263492,263492,263492,263492,263492,263492,263492,263492,263492
18,394912,394912,394912,394912,394912,394912,394912,394912,394912,394912
19,184294,184294,184294,184294,184294,184294,184294,184294,184294,184294
20,760291,760291,760291,760291,760291,760291,760291,760291,760291,760291
21,174010,174010,174010,174010,174010,174010,174010,174010,174010,174010
22,199167,199167,199167,199167,199167,199167,199167,199167,199167,199167
23,138453,138453,138453,138453,138453,138453,138453,138453,138453,138453
24,219246,219246,219246,219246,219246,219246,219246,219246,219246,219246
25,257950,257950,257950,257950,257950,257950,257950,257950,257950,257950
26,125605,125605,125605,125605,125605,125605,125605,125605,125605,125605
27,104900,104900,104900,104900,104900,104900,104900,104900,104900,104900
28,123279,123279,123279,123279,123279,123279,123279,123279,123279,123279
29,65605,65605,65605,65605,65605,65605,65605,65605,65605,65605
...,...,...,...,...,...,...,...,...,...,...
4380,1,1,1,1,1,1,1,1,1,1
4456,1,1,1,1,1,1,1,1,1,1
4480,1,1,1,1,1,1,1,1,1,1
4500,1,1,1,1,1,1,1,1,1,1
4540,1,1,1,1,1,1,1,1,1,1
4560,2,2,2,2,2,2,2,2,2,2
4568,1,1,1,1,1,1,1,1,1,1
4582,1,1,1,1,1,1,1,1,1,1
4590,2,2,2,2,2,2,2,2,2,2
4606,1,1,1,1,1,1,1,1,1,1
4608,3,3,3,3,3,3,3,3,3,3
4680,1,1,1,1,1,1,1,1,1,1
4700,1,1,1,1,1,1,1,1,1,1
4707,1,1,1,1,1,1,1,1,1,1
4732,2,2,2,2,2,2,2,2,2,2
4759,1,1,1,1,1,1,1,1,1,1
4775,1,1,1,1,1,1,1,1,1,1
4777,1,1,1,1,1,1,1,1,1,1
4796,1,1,1,1,1,1,1,1,1,1
4800,3,3,3,3,3,3,3,3,3,3
4844,1,1,1,1,1,1,1,1,1,1
4860,1,1,1,1,1,1,1,1,1,1
4872,1,1,1,1,1,1,1,1,1,1
4936,1,1,1,1,1,1,1,1,1,1
4966,1,1,1,1,1,1,1,1,1,1
4975,1,1,1,1,1,1,1,1,1,1
4983,1,1,1,1,1,1,1,1,1,1
4997,1,1,1,1,1,1,1,1,1,1
4999,1,1,1,1,1,1,1,1,1,1
5000,2,2,2,2,2,2,2,2,2,2

In [ ]:
train_df[['Cliente_ID']]

## Simple Model
### Predict the 'mode' Demand

In [80]:
submit_df = test_df[['id']]

In [90]:
submit_df['Demanda_uni_equil'] = 2

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [97]:
submit_df.head()

   id  Demanda_uni_equil
0   0                  2
1   1                  2
2   2                  2
3   3                  2
4   4                  2

In [99]:
ss_df.head()

   id  Demanda_uni_equil
0   0                  7
1   1                  7
2   2                  7
3   3                  7
4   4                  7

In [101]:
submit_df.to_csv(os.path.join(PROJECT_HOME, 'data/first_submission.csv'), index=False)